:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'Manrope', sans-serif;
  --font-accent: 'Manrope', sans-serif;
  --font-titles: var(--font-accent);

  --page-bg: #e7f0f3;
  --text-color: #000;
  --accent: #ac182c;
  --link-color: #2578c8;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;

  --post-wrapper-gap: 30px;
  --container-narrow: 630px;
  --post-border-radius: 12px;
  --post-gap-between: 14px;
  --post-padding: 24px;
  --post-title: 28px;
  --post-text: 16px;
  --post-text-lg: 28px;
  --post-text-md: 22px;
  --post-img-radius: 12px;
  --footer-copyright-text: 14px;

  --post-bg: #fff;
  --post-text-color: #000;
  --link-color: #0069ca;
  --label-color: #000;

  @include mobile {
    --container-narrow: 100%;
    --post-border-radius: 0px;
    --container-padding: 0;
    --post-gap-between: 12px;
    --post-padding: 12px;
    --post-title: 22px;
    --post-text: 14px;
    --post-text-lg: 22px;
    --post-text-md: 18px;
    --post-img-radius: 8px;
    --post-wrapper-gap: 10px;
    --footer-copyright-text: 12px;
  }
}

.dark {
  --page-bg: #1f1f1f;
  --text-color: #fff;
  --post-bg: #313131;
  --post-text-color: #efefef;
  --link-color: #7db3e6;
  --label-color: #6bb6ed;
}
